<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1>Quem sou eu?

</h1>



<p> Me chamo Roger Eduardo, tenho 17 anos e sou estudante de programação no colegio cotemig com o objetivo de ser programar Back-End, quero poder engressar no mercado de trabalho cedo para desenvolver novas habilidades o mias cedo possível.
    </p>
    <p>
    Programo principalmente em python, mas tenho dominio em diversas linguagens como c#, swift, kotlin, javascript, dart e além de saber usar a ferramente mySql

</p>

{% endblock %}
